# Dependencies
node_modules/

# Environment variables & Secret Keys
.env
.env.*
*.env
serviceAccountKey.json
*.pem
*.key
*.cert

# Build files
dist/
build/
.vite/

# Logs & Temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
